# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Variables / Secrets
.env

# OS specific files
.DS_Store
thumbs.db

# IDE specific files
.vscode/
.idea/
# JetBrains IDEs
*.iml
*.iws
*.ipr                       
code_1.115.0-1775600353_amd64.deb