# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment Variables / Secrets
.env

# OS specific files
.DS_Store
thumbs.db

# IDE specific files
.vscode/
.idea/
